.main-grid__navbar {
    height: 56px;
}

.main-grid__flex {
    display: flex;
    height: calc(100vh - 56px);
}

.main-grid__card-list {
    flex: 3;
    overflow-y: scroll;
}

.main-grid__post-detail {
    flex: 7;
    overflow-y: scroll;
}