.card-list {
    padding-top: 10px;
    flex: 3;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.card-list__grid {
    display: flex;
    flex-direction: column;
}

.card-list__post-submit-form {
    width: 100%;
}